<div  class="d-flex mt-5">
  <input class="form-control me-2" type="text" placeholder="Escriba el codigo del idioma que desea buscar" (keyup)=cargarIdioma(terminoBusqueda) #terminoBusqueda>
</div>

<div class="text-center my-5">
  <h1 class="mt-3 font-weight-light">Listado de idiomas, paises y capitales</h1>
</div>


<ng-container *ngIf="terminoBusqueda.value === '' || terminoBusqueda.value != countries[0].name">
  <div class="row">
      <ng-container *ngFor="let country of countries">
        <div class="col-12 col-sm-6 col-md-4 col-lg-3">
          <div class="border border-primary my-4 p-3">
            <p> <span class="negrita">País:</span> {{ country.name }} </p>
            <p> <span class="negrita">Capital:</span> {{ country.capital }} </p>
            <label *ngFor="let idioma of country.languages, let i = index">
              <span class="negrita">Idioma</span> {{ idioma.name }} {{ i === country.languages.length -1 ?   vacio.trim() : coma.trim() + '&nbsp;' }}
            </label>
          </div>
        </div>
      </ng-container>
  </div>
</ng-container>




