<div *ngIf="!countries">
  <div class="spinner-border text-primary" role="status">
    <span class="visually-hidden">Loading...</span>
  </div>
</div>

<div *ngIf="countries">
  <div class="row d-flex justify-content-center">
    <div class="targeta border-2 card" (click)="getCountry(country)" *ngFor="let country of countries">

        <div class="encabezado-targeta" >
            <img class="imagen-targeta " [src]="country.flags.png" alt="">
        </div>
        <div class="cuerpo-targeta">
            <div class="text-center m-3">
                <span class="negrita">Nombre: </span>
                <div *ngIf="!country.name.official">
                  <label> {{ country.name.common }}</label>
                  <br/>
                </div>
                <label> {{ country.name.official }}</label>
                <br/>
                <span class="negrita">Región: </span>
                <label>{{ country.region }}</label>
                <br/>
                <a routerLink="/pais" class="btn btn-outline-primary boton-targeta text-center">Ver detalles</a>
            </div>
        </div>
    </div>
  </div>
</div>




