<form class="d-flex mt-5">
    <input class="form-control me-2" type="search" placeholder="Search" aria-label="Search" (keyup)=cargarPais(terminoBusqueda) #terminoBusqueda>
    <button class="btn btn-outline-success bg-white text-dark" type="submit">Search</button>
</form>

<div class="text-center my-5">
    <h1 class="mt-3 font-weight-light">Listado de paises</h1>
</div>
<!-- <hr/> -->

<!-- <ul>
    <li *ngFor="let country of countries">{{ country.name }} - {{ country.languages[0].name }} - {{ country.population | number}}</li>
</ul> -->

<app-countries-cards [countries]="countries" *ngIf="countries.length > 0" ></app-countries-cards>