<div  class="d-flex mt-5">
    <input class="form-control me-2" type="text" placeholder="Buscar pais" (keyup)=cargarPais(terminoBusqueda) #terminoBusqueda>
</div>

<div class="text-center my-5">
    <h1 class="mt-3 font-weight-light">Listado de paises</h1>
</div>
<!-- <hr/> -->

<!-- <ul>
    <li *ngFor="let country of countries">{{ country.name }} - {{ country.languages[0].name }} - {{ country.population | number}}</li>
</ul> -->

<!-- <p>
    {{ terminoBusqueda.value }}
</p> -->

<div *ngIf="terminoBusqueda.value === '' || terminoBusqueda.value != countries[0].name">
    <app-countries-cards [countries]="countries" *ngIf="countries.length > 0" ></app-countries-cards>
</div>

<!-- <div *ngIf="terminoBusqueda != '' ">
    <app-countries-cards [countries]="countries" *ngIf="countries.length > 0" ></app-countries-cards>
</div> -->
